{{!--{{ pretty }}--}}

{{#each line in pretty}}
    <div class="jsonTreeView">
        {{#each element in line.elements}}
            {{#if element.hasPlus}}
                <i {{bind-attr id=element.plusId }} class="fa fa-plus-square-o plus-icon" {{action 'toggleExpand' element.plusId}}></i>
            {{/if}}
            <span {{bind-attr class="element.class" style="element.style"}}>{{element.element}}</span>
        {{/each}}
    </div>
{{/each}}