{{!--{{ pretty }}--}}

{{#each line in pretty}}
    <div class="jsonTreeView">
        {{#each element in line.elements}}
            {{#if element.hasPlus}}
                <i {{bind-attr id=element.plusId }} class="fa fa-plus-square-o plus-icon" {{action 'toggleExpand' element.plusId}}></i>
            {{/if}}
            {{#if element.isBlank}}
                <span {{bind-attr class="element.class"}}>
                    &nbsp;&nbsp;
                </span>
            {{/if}}
            {{#unless element.isBlank}}
                <span {{bind-attr class="element.class" style="element.style"}}>
                    {{element.element}}
                </span>
            {{/unless}}
        {{/each}}
    </div>
{{/each}}